<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="come.examp.farsitoyounani">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FarsiToYounani">
        <activity android:name=".Poulao"></activity>
        <activity android:name=".Xtupao" />
        <activity android:name=".Gurizeis" />
        <activity android:name=".Dipsao" />
        <activity android:name=".Fonazo" />
        <activity android:name=".Leo" />
        <activity android:name=".Doulevo" />
        <activity android:name=".Agorazo" />
        <activity android:name=".penao" />
        <activity android:name=".Forao" />
        <activity android:name=".Eftasa" />
        <activity android:name=".Eida" />
        <activity android:name=".Edame" />
        <activity android:name=".medical" />
        <activity android:name=".trecho" />
        <activity android:name=".pino" />
        <activity android:name=".ertha" />
        <activity android:name=".kleo" />
        <activity android:name=".perno" />
        <activity android:name=".eime" />
        <activity android:name=".pao" />
        <activity android:name=".kemame" />
        <activity android:name=".gelo" />
        <activity android:name=".akouo" />
        <activity android:name=".vlepo" />
        <activity android:name=".perpato" />
        <activity android:name=".grammar" />
        <activity android:name=".troo" />
        <activity android:name=".darm" />
        <activity android:name=".thelo" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>